*{
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  border: none;
}
#articlePreviewImg{
  height: 300px;
  object-fit: fill;
  object-position: top;
}
#michelleAppletonPFP{
  display: block;

  width: 35px;
  max-height: 35px;
  border-radius: 2rem;
}
body{
  background-color: hsl(210, 46%, 95%);
}
@media(max-width: 375px){
  body{
    max-width: 375px;
    padding: 5rem 1.5rem;
  }
  #articlePreviewImg{
    max-width: 100%;
  }
}
@media(min-width: 1440px) {
  body{
    max-width: 1440px;
    padding: 5rem 1.5rem;

    height: 100dvh;

    display: grid;
    align-items: center;
    justify-content: center;
  }
}